body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0d0d0d;
  color: white;
}

header {
  background: black;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid gold;
}
.site-logo{
  width:180px;
  height:auto:
  display:block:
  margin:0 auto:
  {
.logo h1 {
  margin: 0;
  color: gold;
  font-size: 32px;
  letter-spacing: 2px;
}

.logo p {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: #ccc;
}

nav {
  margin-top: 15px;
}

nav a {
  color: gold;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #000000, #1a1a1a);
}

.hero h2 {
  font-size: 36px;
  color: gold;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.product-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  background: #1a1a1a;
  padding: 20px;
  margin: 15px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid gold;
  transition: 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

.price {
  color: gold;
  font-size: 18px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box {
  background: #1a1a1a;
  margin: 15px;
  padding: 25px;
  width: 280px;
  border-radius: 10px;
  border: 1px solid gold;
}

footer {
  background: black;
  padding: 20px;
  text-align: center;
  border-top: 2px solid gold;
}
